/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* Utilities */
img {
    width: 100%;
}

.main-container {
    width: 100%;
    height: calc(100vh - 90px);
    background-color: #141922;
    overflow: auto;
    color: white;
}

.container {
    margin: 10px;
    padding-top: 100px;
}

/* Buttons */
.upgrade-btn {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

/* Generics */
.row {
    display: flex;
    flex-wrap: wrap;
}

.album-description {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.col {
    width: calc((100% / 6) - 10px);
    margin-right: 10px;
}

.song-title {
    text-align: center;
    margin: 0.5rem 0;
}


/* Main */
main {
    width: 100%;
    display: flex;
}

.upgrade {
    text-align: right;
    height: 80px;
    background-color: black;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.playlist-nav {
    text-align: center;
}

.cover {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}
.side-nav {
    padding: 0 10px;
    width: 300px;
    height: calc(100vh - 90px);
    background-color: black;
}

/* Footer */
footer {
    z-index: 1;
    height: 100px;
    height: 90px;
    background-color: #282828;
}